#===============================================================================
# CORE
#===============================================================================

--extra-index-url "https://download.pytorch.org/whl/cu129"

# https://download.pytorch.org/whl/cu129/torch/
torch==2.8.0+cu129
# https://download.pytorch.org/whl/cu129/torchvision/
torchvision==0.23.0+cu129
# https://download.pytorch.org/whl/cu129/torchaudio/
torchaudio==2.8.0+cu129
xformers

# Flash Attention
# https://github.com/mjun0812/flash-attention-prebuild-wheels
flash_attn @ https://github.com/mjun0812/flash-attention-prebuild-wheels/releases/download/v0.3.14/flash_attn-2.8.2+cu129torch2.8-cp312-cp312-linux_x86_64.whl

# Sage Attention
# https://huggingface.co/Kijai/PrecompiledWheels/tree/main
sageattention @ https://huggingface.co/Kijai/PrecompiledWheels/resolve/main/sageattention-2.2.0-cp312-cp312-linux_x86_64.whl

# https://github.com/comfyanonymous/ComfyUI/blob/master/requirements.txt
-r "https://raw.githubusercontent.com/comfyanonymous/ComfyUI/refs/tags/v0.3.62/requirements.txt"

#===============================================================================
# CUSTOM NODES
#===============================================================================

# comfyui-advanced-controlnet
# https://github.com/Kosinkadink/ComfyUI-Advanced-ControlNet
#-r ""

# comfyui-controlnet-aux
# https://github.com/Fannovel16/comfyui_controlnet_aux
-r "https://raw.githubusercontent.com/Fannovel16/comfyui_controlnet_aux/refs/heads/main/requirements.txt"

# comfyui-custom-scripts
# https://github.com/pythongosssss/ComfyUI-Custom-Scripts
#-r ""

# comfyui-essentials
# https://github.com/cubiq/ComfyUI_essentials
-r "https://raw.githubusercontent.com/cubiq/ComfyUI_essentials/refs/heads/main/requirements.txt"

# comfyui-fizznodes
# https://github.com/FizzleDorf/ComfyUI_FizzNodes
-r "https://raw.githubusercontent.com/FizzleDorf/ComfyUI_FizzNodes/refs/heads/main/requirements.txt"

# comfyui-florence2
# https://github.com/kijai/ComfyUI-Florence2
-r "https://raw.githubusercontent.com/kijai/ComfyUI-Florence2/refs/heads/main/requirements.txt"

# comfyui-gguf
# https://github.com/city96/ComfyUI-GGUF
-r "https://raw.githubusercontent.com/city96/ComfyUI-GGUF/refs/heads/main/requirements.txt"

# comfyui-impact-pack
# https://github.com/ltdrdata/ComfyUI-Impact-Pack
-r "https://raw.githubusercontent.com/ltdrdata/ComfyUI-Impact-Pack/refs/heads/Main/requirements.txt"

# comfyui-impact-subpack
# https://github.com/ltdrdata/ComfyUI-Impact-Subpack
-r "https://raw.githubusercontent.com/ltdrdata/ComfyUI-Impact-Subpack/refs/heads/main/requirements.txt"

# comfyui-inpaint-nodes
# https://github.com/Acly/comfyui-inpaint-nodes
#-r ""

# comfyui-ipadapter-plus
# https://github.com/cubiq/ComfyUI_IPAdapter_plus
#-r ""
insightface
onnxruntime-gpu

# comfyui-kjnodes
# https://github.com/kijai/ComfyUI-KJNodes
-r "https://raw.githubusercontent.com/kijai/ComfyUI-KJNodes/refs/heads/main/requirements.txt"

# comfyui-local-image-gallery
# https://github.com/Firetheft/ComfyUI_Local_Image_Gallery
-r "https://raw.githubusercontent.com/Firetheft/ComfyUI_Local_Image_Gallery/refs/heads/main/requirements.txt"

# comfyui-ollama
# https://github.com/stavsap/comfyui-ollama
-r "https://raw.githubusercontent.com/stavsap/comfyui-ollama/refs/heads/main/requirements.txt"

# comfyui-promptstylers
# https://github.com/wolfden/ComfyUi_PromptStylers
#-r ""

# comfyui-rgthree
# https://github.com/rgthree/rgthree-comfy
-r "https://raw.githubusercontent.com/rgthree/rgthree-comfy/refs/heads/main/requirements.txt"

# comfyui-segment-anything
# https://github.com/storyicon/comfyui_segment_anything
-r "https://raw.githubusercontent.com/storyicon/comfyui_segment_anything/refs/heads/main/requirements.txt"

# comfyui-segment-anything-2
# https://github.com/kijai/ComfyUI-segment-anything-2
#-r ""

# comfyui-tooling-nodes
# https://github.com/Acly/comfyui-tooling-nodes
-r "https://raw.githubusercontent.com/Acly/comfyui-tooling-nodes/refs/heads/main/requirements.txt"

# comfyui-ultimatesdupscale
# https://github.com/ssitu/ComfyUI_UltimateSDUpscale
#-r ""

# comfyui-vibevoice
# https://github.com/Enemyx-net/VibeVoice-ComfyUI
-r "https://raw.githubusercontent.com/Enemyx-net/VibeVoice-ComfyUI/refs/heads/main/requirements.txt"

# comfyui-videohelpersuite
# https://github.com/Kosinkadink/ComfyUI-VideoHelperSuite
-r "https://raw.githubusercontent.com/Kosinkadink/ComfyUI-VideoHelperSuite/refs/heads/main/requirements.txt"

# comfyui-wanvideowrapper
# https://github.com/kijai/ComfyUI-WanVideoWrapper
-r "https://raw.githubusercontent.com/kijai/ComfyUI-WanVideoWrapper/refs/heads/main/requirements.txt"
